.btn{
    width:80px;
    height:80px;
    border-radius:50%;
    margin:10px;
    cursor:pointer;
    color:black;
    border:1px solid white
}
.bg-red{
    background-color:red;
}
.bg-yellow{
    background-color:yellow;
}
.bg-green{
    background-color:green;
}
.btn:hover{
    border:2px solid black;
}
.count{
    width:100px;
    background:gray;
    padding:10px;
    font-size:30px;
    border-radius:10px;
    margin:auto;
}